In [3]:
import numpy as np
import pandas as pd

In [4]:
pd.options.display.float_format = '{:,.2f}'.format

In [5]:
orders = pd.read_csv('../data/orders.csv')
products = pd.read_csv('../data/products.csv')
order_products__prior = pd.read_csv('../data/order_products__prior.csv')
order_products__train = pd.read_csv('../data/order_products__train.csv')
aisles = pd.read_csv('../data/aisles.csv')
departments = pd.read_csv('../data/departments.csv')

In [6]:
order_products = order_products__prior.append(order_products__train)

In [7]:
full_df = pd.merge(orders, order_products, how='inner', on='order_id')

In [8]:
full_df = pd.merge(full_df, products, how='left', on='product_id')

In [9]:
full_df = pd.merge(full_df, aisles, how='left', on='aisle_id')

In [10]:
full_df = pd.merge(full_df, departments, how='left', on='department_id')

In [11]:
full_df.drop(['order_id', 'eval_set', 'product_id', 'aisle_id', 'department_id', 'add_to_cart_order', 
              'reordered', 'product_name', 'order_number'], axis=1, inplace=True)

In [12]:
full_df.set_index('user_id', inplace=True)

In [13]:
full_df.head()

,order_dow,order_hour_of_day,days_since_prior_order,aisle,department
user_id,,,,,
1,2,8,nan,soft drinks,beverages
1,2,8,nan,soy lactosefree,dairy eggs
1,2,8,nan,popcorn jerky,snacks
1,2,8,nan,popcorn jerky,snacks
1,2,8,nan,paper goods,household

In [14]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 1 to 206209
Data columns (total 5 columns):
order_dow                 int64
order_hour_of_day         int64
days_since_prior_order    float64
aisle                     object
department                object
dtypes: float64(1), int64(2), object(2)
memory usage: 1.5+ GB

In [15]:
full_df.isnull().sum()

order_dow                       0
order_hour_of_day               0
days_since_prior_order    2078068
aisle                           0
department                      0
dtype: int64

In [16]:
full_df.days_since_prior_order.fillna(-1, inplace=True)

In [17]:
full_df.days_since_prior_order = full_df.days_since_prior_order.astype(int)

In [18]:
full_df.days_since_prior_order.unique()

array([-1, 15, 21, 29, 28, 19, 20, 14,  0, 30, 10,  3,  8, 13, 27,  6,  9,
       12,  7, 17, 11,  4,  5,  2, 23, 26, 25, 16,  1, 18, 24, 22])

In [19]:
full_df.loc[full_df.days_since_prior_order == -1, 'days_since_prior_order'] = 'first_order'

In [20]:
full_df.days_since_prior_order.unique()

array(['first_order', 15, 21, 29, 28, 19, 20, 14, 0, 30, 10, 3, 8, 13, 27,
       6, 9, 12, 7, 17, 11, 4, 5, 2, 23, 26, 25, 16, 1, 18, 24, 22], dtype=object)

In [21]:
full_df.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 1 to 206209
Data columns (total 5 columns):
order_dow                 int64
order_hour_of_day         int64
days_since_prior_order    object
aisle                     object
department                object
dtypes: int64(2), object(3)
memory usage: 1.5+ GB

In [22]:
for col in full_df:
    full_df[col] = full_df[col].astype('category')

In [25]:
full_df.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 1 to 206209
Data columns (total 5 columns):
order_dow                 category
order_hour_of_day         category
days_since_prior_order    category
aisle                     category
department                category
dtypes: category(5)
memory usage: 451.5 MB

In [26]:
%%time
df_minus_aisles = pd.DataFrame()
for col in ['order_dow', 'order_hour_of_day', 'days_since_prior_order', 'department']:
    df2 = pd.get_dummies(full_df[col], prefix=col)
    df2.reset_index(inplace=True)
    df3 = df2.groupby('user_id').sum()
    df4 = df3.div(df3.sum(axis=1), axis=0)
    df_minus_aisles = pd.concat([df_minus_aisles, df4], axis=1)

CPU times: user 40.6 s, sys: 59 s, total: 1min 39s
Wall time: 2min 11s

In [27]:
%time
df2 = pd.get_dummies(full_df[['aisle']], prefix='aisle')
df3 = df2.groupby('user_id', sort=False).sum()
df_aisles = df3.div(df3.sum(axis=1), axis=0)